torch>=2.0
numpy
scipy
matplotlib
seaborn
tqdm
scikit-learn
k_means_constrained
shapely
gurobipy
omegaconf
dask[complete]
lightning
rich
rpy2
pyyaml
folium
git+https://github.com/Vekteur/CP-Flow.git@gluonts-dependency
git+https://github.com/VincentStimper/resampled-base-flows.git